<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finns.user.mapper.UserMapper">
    <select id="selectOne" resultType="com.finns.user.dto.User">
        select user_no, username, birth, mbti_name, img_url, renew_time
        from user
        where user_no = #{userNo}
    </select>

    <update id="updateRenewTime" parameterType="com.finns.post.dto.ChangeRenewStatusDTO">
        update user
        set renew_time = #{now}
        where user_no = #{userNo}
    </update>

    <update id="updateMbti" parameterType="com.finns.user.dto.SetMbtiDTO">
        update user
        set mbti_name = #{mbtiName}
        where user_no = #{userNo}
    </update>


</mapper>
